* {
    margin: 0;
    padding: 0;
}

.column {
    flex-direction: column;
}

.bdrr50 {
    border-radius: 50%;
}

.flex {
    display: flex;
}
.f1{
    flex:1
}
.f2{
    flex:2
}
.f3{
    flex:3
}
.jc{
    justify-content: center;
}
.jfe{
    justify-content: flex-end;
}
.ac {
    align-items: center;
}
.afd{
    align-items: flex-end;
}
.thidden-one {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.thidden-two {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.jsb{
	justify-content: space-between;
}
.jsa{
	justify-content: space-around;
}
.mt20{
    margin-top: 20rpx;
}
.fw5 {
	font-weight: 500;
}

.fw6 {
	font-weight: 600;
}

.fw7 {
	font-weight: 700;
}
.tac{
	text-align: center;
}
.tae{
    text-align: end;
}
.fwrap{
	flex-wrap: wrap;
}
.fwno{
	flex-wrap: nowrap;
}
.pore{
	position: relative;
}
.poab{
	position: absolute;
}
.mt1{
    margin-top: 10px;
}