.layoutItem {
    .ant-popover-inner-content {
        padding: 0 !important;
    }
}

.home_All {
    svg {
        width: 22px !important;
        height: 22px !important;
    }

    .ant-input {
        border: none !important;
        box-shadow: none !important;
        height: 52px;
        border-radius: 3px;
    }
}